In [1]:
import pandas as pd
import datetime
from kickbase_api.kickbase import Kickbase
import os
import numpy as np

In [2]:
kickbase = Kickbase()
user, leagues = kickbase.login("fibi.mayr@gmail.com", "bYmtev-0qarcu-gykwij")

In [3]:
now = datetime.datetime.now()
dt_string = now.strftime("%d.%m.%Y %H:%M:%S")

In [13]:
players = {
    "first_name":[],
    "last_name":[],
    "id":[],
    "market_value":[],
    "market_value_trend":[],
    "team_id":[],
    "time":[],
    "status":[],
    "average_points":[]
    }

for team_id in range(100):
    try:
        team_players = kickbase.team_players(str(team_id))
        for player in team_players:
            players["first_name"].append(player.first_name)
            players["last_name"].append(player.last_name)
            players["id"].append(player.id)
            players["market_value"].append(player.market_value)
            players["market_value_trend"].append(player.market_value_trend)
            players["team_id"].append(player.team_id)
            players["time"].append(pd.to_datetime(datetime))
    except:
        pass

In [16]:
players["status"]

[]

In [9]:
players_df = pd.DataFrame(players)
players_df["date"] = pd.to_datetime(now)
players_df.sample(10)

ValueError: All arrays must be of the same length

In [6]:
test_data = False
if test_data:
    players_df_next = players_df.copy()
    date = now
    for i in range(10):
        date = date + datetime.timedelta(days=1)
        players_df_next["date"] = date
        players_df_next["market_value"] = players_df_next["market_value"] + np.random.normal(0, 5000, players_df_next.shape[0]).astype(int)
        players_df = pd.concat([players_df, players_df_next])

In [10]:
if "player_data.csv" in os.listdir(".\\data"):
    history_df = pd.read_csv(".\\data\\player_data.csv")
    players_df = pd.concat([history_df, players_df], ignore_index=True)

players_df = players_df.drop_duplicates(subset=["first_name", "last_name", "date"], keep="first")
    
players_df.to_csv(".\\data\\player_data.csv", index=False)

In [26]:
players_df[(players_df["first_name"] == "Aaron") & (players_df["last_name"] == "Opoku")]

,first_name,last_name,id,market_value,market_value_trend,team_id,date
127,Aaron,Opoku,2579,3316407.0,2,6,2022-07-25 15:08:53.359394
127,Aaron,Opoku,2579,3166017.0,2,6,2022-07-26 14:37:40.825338
1579,Aaron,Opoku,2579,3031599.0,2,6,2022-07-27 08:35:24.904535

In [35]:
history_df = pd.read_csv(".\\data\\player_data.csv")

In [43]:
history_df.sort_values(by="id")

,first_name,last_name,id,market_value,market_value_trend,team_id,date,time
3841,Julian,Korb,3,5606429.0,1,51,2022-07-27,2022-07-27 08:35:24.904535
2391,Julian,Korb,3,5524510.0,1,51,2022-07-26,2022-07-26 14:37:40.825338
940,Julian,Korb,3,5428677.0,1,51,2022-07-25,2022-07-25 15:08:53.359394
3739,Janis,Blaswich,4,500000.0,0,43,2022-07-27,2022-07-27 08:35:24.904535
837,Janis,Blaswich,4,500000.0,0,43,2022-07-25,2022-07-25 15:08:53.359394
...,...,...,...,...,...,...,...,...
2903,Marko,Milovanovic,4302,1000000.0,0,74,2022-07-26,2022-07-26 14:37:40.825338
4352,Marko,Milovanovic,4302,955263.0,1,74,2022-07-27,2022-07-27 08:35:24.904535
836,Fabio,Torsiello,4303,250000.0,1,42,2022-07-25,2022-07-25 15:08:53.359394
3738,Fabio,Torsiello,4303,480548.0,2,42,2022-07-27,2022-07-27 08:35:24.904535
2287,Fabio,Torsiello,4303,500000.0,1,42,2022-07-26,2022-07-26 14:37:40.825338